*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html{
  font-size: 10px; /*1 rem = 10 px*/
}
body{
  overflow: hidden;
}
#header{
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
.heading{
  font-size: 2.4rem;
}
#header .colors__type-section{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.colors__type{
  font-size: 1.8rem;
  font-weight: 500;
  transition: all .2s;
  cursor: pointer;
}
.colors__type:hover{
  color: #008ad3;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #47A992;
}
#main .color__name-box{
  padding: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  background-color: #fff;
  border-radius: 5px;
  background-color: #000;
}
#main .color__name-box h2{
  color: #fff;
}
#main .button-section{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
#main .button-section .click{
  font-weight: 500;
  text-transform: capitalize;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  padding: 3px;
  cursor: pointer;
  transition: all .3s;
}
#main .button-section .click:hover{
  transform: translateY(-1px);
}
#main .button-section .click:active{
  transform: translateY(1px);
}
